In [2]:
import pandas as pd
import numpy as np
import os

In [4]:
path='/Users/z/Documents/CF/Unit 1/4. Python Fundamentals for Data Analysts /06-2023-Instacart Basket Analysis'

In [8]:
df=pd.read_csv(os.path.join(path,'02 Data','Original data', 'orders.csv'), nrows=1000)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                1000 non-null   int64
 1   user_id                 1000 non-null   int64
 2   eval_set                1000 non-null   object
 3   order_number            1000 non-null   int64
 4   order_dow               1000 non-null   int64
 5   order_hour_of_day       1000 non-null   int64
 6   days_since_prior_order  936 non-null    float64
dtypes: float64(1), int64(5), object(1)
memory usage: 54.8+ KB

In [20]:
vars_list=['order_id','user_id','order_number','order_dow','order_hour_of_day','days_since_prior_order']

In [18]:
vars_list

['order_id',
 'user_id ',
 'order_number',
 'order_dow',
 'order_hour_of_day',
 'days_since_prior_order']

In [21]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'orders.csv'), usecols = vars_list)

In [22]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [24]:
df_prods=pd.read_csv(os.path.join(path,'02 Data','Original data', 'products.csv'), nrows=1000)

In [25]:
df_prods.head(20)

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
5,6,Dry Nose Oil,11,11,2.6
6,7,Pure Coconut Water With Orange,98,7,4.4
7,8,Cut Russet Potatoes Steam N' Mash,116,1,1.1
8,9,Light Strawberry Blueberry Yogurt,120,16,7.0
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
11,12,Chocolate Fudge Layer Cake,119,1,9.4
12,13,Saline Nasal Mist,11,11,1.1
13,14,Fresh Scent Dishwasher Cleaner,74,17,6.5
14,15,Overnight Diapers Size 6,56,18,11.2
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
16,17,Rendered Duck Fat,35,12,17.1
17,18,Pizza for One Suprema Frozen Pizza,79,1,10.6
18,19,Gluten Free Quinoa Three Cheese & Mushroom Blend,63,9,12.0
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7,6.0

In [27]:
df_prods.tail(35)

,product_id,product_name,aisle_id,department_id,prices
965,965,Maxtra Cartridge Water Filter Refills,87,17,1.4
966,966,Pear Hard Cider,27,5,2.6
967,967,Gluten Free Soft & Chewy Snicker Doodle Cookies,8,3,2.4
968,968,Zipper Bags Sandwich - 50 CT,85,17,4.6
969,969,Petite Green Peas,116,1,4.8
970,970,Salmon and Tuna Formula Dry Cat Food,41,8,9.9
971,971,Chicken Alfredo with Rotini,38,1,7.8
972,972,Linguine No 7 Pasta,131,9,4.5
973,973,8 X 6 Cutting Board,10,17,5.0
974,974,Organic 54% Cocoa Dark Chocolate Bar,45,19,4.4
975,975,Creamy Vanilla Soy Milk Frozen Dessert,37,1,3.9
976,976,Cavity Protection Regular Flavor Toothpaste,20,11,14.6
977,977,Deli Spicy Brown Mustard,72,13,13.7
978,978,Mallow Oats Cereals,121,14,4.4
979,979,Odor Control Home Trash Compactor Bags 18 Gallon,60,17,5.7
980,980,Automatic Toilet Bowl Cleaner with Bleach,114,17,8.7
981,981,Garlic Naan,128,3,3.8
982,982,Aged Gouda Cheese,2,16,14.1
983,983,Strawberry Pomegranate,3,19,3.0
984,984,Cucumber Witch Hazel With Aloe Vera,109,11,8.4
985,985,Peanut Butter Bars,3,19,6.4
986,986,Crushed Pineapple in 100% Juice,99,15,13.1
987,987,Naturals Antiseptic Adult Mouthwash Herbal Mint,20,11,9.4
988,988,Cranberrry Almond Soft & Chewy Granola Bar,3,19,6.3
989,989,Chapatti Chicken Tikki Masala Wrap,38,1,12.6
990,990,Diced Pancetta,96,20,13.6
991,991,Red Sweet Mini Pepper,100,21,5.4
992,992,Thin Crust Pepperoni & Pesto Pizza,79,1,10.2
993,993,Mild Diced Tomatoes with Green Chilis,81,15,10.2
994,994,Shake n Pour Buttermilk Pancake Mix,130,14,13.4
995,995,Sausage Smoked Sweet German Brand,106,12,16.7
996,996,Honey Cinnamon Nut-Thins Crackers,125,19,3.2
997,997,Mini Double Chocolate Ice Cream Bars,37,1,8.5
998,998,Hot Chopped Green Chili,104,13,9.1
999,999,Original Organic Ville BBQ Sauce,5,13,9.2

In [28]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     1000 non-null   int64
 1   product_name   995 non-null    object
 2   aisle_id       1000 non-null   int64
 3   department_id  1000 non-null   int64
 4   prices         1000 non-null   float64
dtypes: float64(1), int64(3), object(1)
memory usage: 39.2+ KB

In [29]:
len(df_prods)

1000

In [30]:
df.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [31]:
df_prods.describe()

        product_id     aisle_id  department_id       prices
count  1000.000000  1000.000000    1000.000000  1000.000000
mean    499.962000    68.072000      11.699000     7.685600
std     288.388819    38.768412       5.886854     4.243211
min       1.000000     1.000000       1.000000     1.000000
25%     250.750000    37.000000       7.000000     4.100000
50%     499.500000    69.000000      12.000000     7.200000
75%     749.250000   101.000000      17.000000    11.200000
max     999.000000   134.000000      21.000000    24.300000

Maximum value of aisle_id - 134.000000
Data type of department_id - int64